<div class="container">
  <div class="blue">
    <div class="logo"></div>
    <div class="divider"></div>
    <h2 class="intro">Dobrodošli, Venti je specijalizirani servis za čišćenje stambenih i poslovnih prostora, te čišćenje i održavanje plinskih bojlera, sa sjedištem u Varaždinu. Naše stranice trenutno su u izradi ali slobodno nam se obratite s povjerenjem.</h2>
    <div class="divider"></div>

    <div class="services">
      <div class="service ciscenje">
        <div class="serLogo"></div>
        <h1>
          čišćenje stambenih i poslovnih prostora
        </h1>
        <h2>099 442 0101</h2>
      </div>
      <div class="service servis">
        <div class="serLogo"></div>
        <h1>
          servis i čišćenje plinskih bojlera
        </h1>
        <h2>091 503 0357</h2>
      </div>
    </div>
  </div>
  <div class="footer">
    <h2>Josipa Kozarca 53, 42000 Varaždin</h2>
    <h2>venti.vz@gmail.com</h2>
    <h2>042 200 030</h2>
  </div>
</div>
